* {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

* {
    font-family: 'Vollkorn', Arial, serif;
    font-size: 1em; 
  }

body {
    background-color:#1E1E1E; /* Bakgrunns farge */
    --text_color: white;
    --text_hover: blue;
}

/*###################################################### --- Header*/

.header-container {
    width: 100%;
    margin: auto; 
    display: flex;
    flex-direction: column; /* Logo starts stacked on top of nav */
    justify-content: center; 
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;  /* Space for logo */
    overflow: visible;
}

.title h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}

.logo {
    max-width: 120px;
    max-height: 120px;
    margin-top: 10px; 
  }

/*############################################################# --- Menu*/

.menu-container {
    width: 100%;
    display: flex; /* Gjør body til en flexbox */
    margin: auto;
    flex-direction: column; /* Flexboxene går nedover */
    align-items: center;

}

.main-menu {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;  /* Space for logo */
    overflow: visible;
    border: 2px outset rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    max-width: 700px;  /* Keeps the buttons getting too far from each other on largest screens */
}

.main-menu a {
    width: 100%;
    text-align: center;
    padding: .75em 1em;
    display: block;
    color: #CCCCCC;
    /*border-bottom: 2px solid #ddd;*/
}

.main-menu a:hover {
    color: #007ACC;
    /*border-bottom-color: #007ACC;*/
    border-bottom: 2px solid #007ACC;
}



/* ############################################################# --- Main */

.main-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-window {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 6px;
    background-color: #252526;
    min-height: 450px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.main-window p {
    color: #CCCCCC;
}

/*############################################################# --- Footer */

.futa-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.futa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #007ACC;
}

.futa p {
    color: #CCCCCC;
    min-height: 5em;
    padding-top: 2em;
}

/*############################################################# --- Animation */

.drop-menu {
    display: flex;
    flex-direction: column; /* This never changes */
    align-items: center;
    width: 100%; /* Allows sub buttons to stretch across button width in main-menu*/
    transition: max-height .4s, opacity .3s;
    max-height: 0;
    opacity: 0;
    overflow: hidden; /* Keeps links in drop menu from displaying until height is large enough */
  }

.drop-menu > .menu-button {
    height: 100%;
    transition: transform .4s;
    transform: translateY(-300%);
    background: #424040; /* Makes the menu effects visible on close */ 
}

.dropdown-wrapper:hover .drop-menu{
    max-height: 300px;  
    opacity: 1;
}

.dropdown-wrapper:hover > .drop-menu .menu-button {
    transform: translateY(0%);
}

@media (min-width: 550px) {/* Hvis den er medium stor */
        /*.effect {
        transition: max-height 0s;
        opacity: 1;
        background: transparent;
    }*/

    /*.effect .menu-button{
        transform: translateY(0%);
    }*/

    .menu-container {
        width: 90%;
    }

    .menu-container {
        height: 100px;
        justify-content: space-between;
    }

    .header-container {
        width: 90%;
    }
    
    .header-container {
        height: 200px;
        justify-content: space-between; /* Pushes logo to top, nav bar all the way down */
    }

    .main-container {
        width: 90%;
    }

    .title {   
        flex-direction: row; /* Horizontal main menu buttons */
        align-items: flex-start; /* Makes the top of the 'dropdown-wrapper' div stay flush with button top because it's aligned on the cross-axis */
        height: 48px; /* Setting the height allows the dropdown outside of it's parent's bounds, therefore not compensated for by the flex. */
        margin: 0;
      }

    .main-menu {   
        flex-direction: row; /* Horizontal main menu buttons */
        align-items: flex-start; /* Makes the top of the 'dropdown-wrapper' div stay flush with button top because it's aligned on the cross-axis */
        height: 48px; /* Setting the height allows the dropdown outside of it's parent's bounds, therefore not compensated for by the flex. */
        margin: 0;
      }
        
      .main-menu > .menu-button {
        width: 23%;
        max-width: 150px;
      }

      .logo {
        max-width: 130px;
        max-height: 130px;
        margin-top: 15px; 
      }
}

@media (min-width: 850px) { /* Hvis den er stor */

    .header-container {
        flex-direction: row; /* Places logo on the same line as .main-menu */
        justify-content: space-around; 
        height: 160px;
      } 
  
    .title {
        width: 50%;
        justify-content: space-between;
    }
  
    .logo {
        margin: 0;
    }

    .main-window {
        width: 80%;
    }
  
}

@media (max-width: 550px){ 
    .main-menu a {
        border-bottom: 2px solid #ddd;
    }

    .main-menu a:hover {
        border-bottom-color: #007ACC;
    }
}