$textcolor: #6733e2;

* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Vollkorn', Arial, serif;
  font-size: 1.1rem;
}

#header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //border: 1px solid black;
  min-height: 70px;
  width: 90%;
  margin: auto;
}

#menu
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 48px;

  .menu-btn
  {
    width: 100%;
    max-width: 150px;
    text-align: center;
    padding: .75em 1em;
    margin: 10px 0 0 0;
    display: block;
    color: $textcolor;

    &:hover
    {
      color: #252526;
    }
  }
}