* {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Vollkorn', Arial, serif;
  font-size: 1em;
}

#header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  min-height: 70px;
  padding: 24px 70px 0 70px;
}